body {
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 1080px;
    background-color: #1b1f23;
    color: #929a9e;
    font-family: Open Sans,sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: 1.1fr 0.8fr 1.1fr repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 100%;
    height: 100%;
}

.match-info {
    grid-area: 1 / 1 / 2 / 4;
    font-size: 50px;
    padding-top: 40px;
}

.team-1-logo {
    grid-area: 2 / 1 / 5 / 2;
}

.score {
    grid-area: 2 / 2 / 5 / 3;
    font-size: 70px;
}

.team-2-logo {
    grid-area: 2 / 3 / 5 / 4;
}

.team-1-mvp {
    grid-area: 6 / 1 / 11 / 2;
}

.player-statistics {
    grid-area: 6 / 2 / 11 / 3;
}

.team-2-mvp {
    grid-area: 6 / 3 / 11 / 4;
}

.team-1-table {
    grid-area: 1 / 4 / 7 / 8;
}

.team-2-table {
    grid-area: 7 / 4 / 13 / 8;
}

.team-logo {
    width: 200px;
    height: 200px;
}

.team-1-logo, .team-2-logo, .score, .match-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.winner {
    color: #09c100;
}

.loser {
    color: #fc1d1d
}

.team-1-score {
    padding-right: 40px;
}
